$white: #fff;
$black: #000;
$white-gray: #f4f5f9;
$red: #e74c3c;
$text-color: #cbc6c0;
$light-line-color: #f1ebe7;
$advantages-line: #e6e7eb;
$advantages-border-icon: #e5e5e5;
$advantages-desc-color: #999999;
$advantages-title-color: #6a6a6a;
$services-bg-color: #202020;