.section-top {
    background: url('../img/section-top-bg.jpg') top center no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 93%, 0 83%);
    position: relative;

    &::after {
        background-color: rgba(0, 0, 0, 0.7);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    
    .section-top__header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
        position: relative;
        z-index: 2;

        .section-top__logo {

            a {
                background: url('../img/svg/Logo.svg');
                display: block;
                height: 55px;
                width: 142.5px;
            }
        }

        .section-top__menu {
            flex-basis: 64%;
        }
    }

    .section-top__info {
        padding: 180px 0 300px;
        position: relative;
        text-align: center;
        z-index: 2;

        h1 {
            color: $white-gray;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 24px;
            font-weight: 400;
            letter-spacing: 1.2px;

            span {
                display: block;
                font-family: 'Open Sans', sans-serif;
                font-size: 72px;
                font-weight: 700;
                letter-spacing: 7.2px;
                margin: 30px 0 20px;
                text-transform: uppercase;
            }
        }

        & > p {
            color: $text-color;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            margin: 40px auto;
            max-width: 620px;
        }
    }
}

@media (max-width: 980px) {

    .section-top {

        .section-top__info {
            padding-top: 50px;
    
            h1 {
    
                span {
                    font-size: 42px;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .section-top {

        .section-top__header {
            flex-wrap: wrap;

            .section-top__logo {
                margin: 0 auto 30px;
            }

            .section-top__menu {
                flex-basis: 100%;
            }
        }

        .section-top__info {
            
            & > p {
                max-width: 100%;
            }
        }
    }
}